<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>create</div>

title: <input type="text" id="title"><br>
content: <input type="text" id="content">
author: <input type="text" id="author">
<button onclick="create_board()">입력하기!</button>
<script>
  function create_board(){
    $.ajax({
      url: '/api/board/create',
      method: 'GET',
      data: {
        title:$("#title").val()
        , content: $("#content").val()
        , author: $("#author").val()
      },
      success: function (data, status, xhr){
        alert("data: " + JSON.stringify(data));
      },
      error: function (data, status, err){

      },
      complete: function (){

      }
    });
  }
</script>
</body>
</html>