<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>detail board</div>

id: <input type="number" id="id"><br>
title: <input type="text" id="title"><br>
content: <input type="text" id="content"><br>
author: <input type="text" id="author"><br>
<button onclick="detail_board()">입력하기!</button>
<button onclick="update_board()">수정하기</button>
<button onclick="delete_board()">삭제하기</button>

<script>
  function delete_board(){
    $.ajax({
      url: '/api/board',
      method: 'DELETE',
      contentType: 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#id").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function update_board(){
    $.ajax({
      url: '/api/board',
      method: 'PUT',
      contentType: 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#id").val()
        , title : $("#title").val()
        , content : $("#content").val()
        , author : $("#author").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function detail_board(){
    $.ajax({
      url: '/api/board/detail/' + $("#id").val(),
      method: 'GET',
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
        $("#title").val(data.title);
        $("#content").val(data.content);
        $("#author").val(data.author);
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
</script>
</body>
</html>